

/*! OLD CSS FROM HERO FEATURE THEME
body {
    padding-top: 70px;

     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.hero-feature-center {
    margin-bottom: 30px;
	text-align: center
}

footer {
    margin: 50px 0;
}
*/

body {
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    }


.panel {
  margin: 5px 0px 15px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h3,
.h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h4,
.h4 {
	font-size: 22px;
	font-weight: 400;
}

hr {
	margin-bottom: 10px;
}




